.grid-items-container {
  display              : grid;
  grid-template-columns: repeat(3, 250px);
  gap                  : 20px;
  box-sizing           : border-box;
  margin               : 5px;
}

.item-card {
  /* height          : 200px; */
  height       : 100%;
  border-radius: 1em;
  box-sizing   : border-box;
}

.sobreposicao {
  height       : 50px;
  width        : 100%;
  border-radius: 1em 1em 0 0;
  position     : relative;
}

.informations {
  height       : 170px;
  width        : 100%;
  background   : var(--Dark-blue);
  border-radius: 1em;
  position     : relative;
  bottom       : 1em;
  transition   : .5s ease all;
}

.informations::before {
  content   : "";
  background: url("../img/icons/icon-ellipsis.svg") no-repeat no-repeat;
  width     : 25px;
  height    : 25px;
  right     : 20px;
  top       : 25px;
  cursor    : pointer;
  position  : absolute;
}


.informations:hover {
  background: var(--Desaturated-blue);
  cursor    : pointer;
}

.informations p {
  grid-area    : p;
  padding-top  : 20px;
  padding-left : 20px;
  margin-bottom: 8px;
  font-size    : 18px;
}

.informations h2 {
  grid-area    : h2;
  padding-left : 20px;
  margin-bottom: 8px;
  font-size    : 64px;
  font-weight  : 300;
}

.informations span {
  grid-area   : span;
  padding-left: 20px;
  font-size   : 16px;
  color       : rgb(184, 183, 183);
}

@media(max-width: 1140px) {
  .grid-items-container {
    grid-template-columns: repeat(2, 250px);
  }
}

@media(max-width: 870px) {
  .grid-items-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    margin               : 15px;
  }

  .informations {
    display: grid;
    grid-template:
      "p p"
      "h2 span";
    align-items: center;
  }

  .informations p,
  .informations span {
    font-size: 20px;
  }
}

@media(max-width:500px) {
  .informations {
    grid-template:
      "p p"
      "h2 h2"
      "span span";
  }

  .informations span {
    font-size     : 18px;
    padding-bottom: 10px;
  }
}