.grid-items-container {
  display              : grid;
  grid-template-columns: repeat(3, 250px);
  gap                  : 20px;
  box-sizing           : border-box;
  margin               : 5px;
}

.item-card {
  /* height          : 200px; */
  height       : 100%;
  border-radius: 1em;
  box-sizing   : border-box;
}

.sobreposicao {
  height       : 50px;
  width        : 100%;
  border-radius: 1em 1em 0 0;
  position     : relative;
}

.informations {
  height       : 170px;
  width        : 100%;
  background   : var(--Dark-blue);
  border-radius: 1em;
  position     : relative;
  bottom       : 1em;
  transition   : .5s ease all;
}

.informations:hover {
  background: var(--Desaturated-blue);
  cursor    : pointer;
}

.informations p {
  padding-top  : 20px;
  padding-left : 20px;
  margin-bottom: 8px;
  font-size    : 18px;
}

.informations h2 {
  padding-left : 20px;
  margin-bottom: 8px;
  font-size    : 64px;
  font-weight  : 300;
}

.informations span {
  padding-left: 20px;
  font-size   : 16px;
  color       : rgb(184, 183, 183);
}